<!-- _includes/download.html -->
<div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadModalLabel">Security Checklist Download Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<iframe width="940px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=A0FT26sXokmJPq4UXrYTI8Ko-zeB77BOoptuydnAj1pUQkE5RVIxQ1I3V1VJTjRRM0lNR1FTU01ZMC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
      </div>
    </div>
  </div>
</div>
