<!-- _includes/footer.html -->
<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="footer-heading">About</div>
            <p class="text-justify">Founded in 2024, our organization is driven by a diverse set of goals, including community support, and security consulting, among others. We are committed to giving back and empowering individuals to navigate the world safely. Additionally, we prioritize work-life balance, striving to achieve this through our efforts.</p>
          </div>
          <div class="col-xs-3 col-md-3">
            <div class="footer-heading">Corporate Info</div>
            <ul class="footer-links">
			  <li><a class="nav-link" href="/about">About Us</a></li>
              <li><a class="nav-link" href="/contact">Contact Us</a></li>
			  <li><a class="nav-link" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <hr class="pride-hr">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">© 2024 Copyright Skarlet Corp. All Rights Reserved.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
			  <li><a class="bluesky" href="https://www.facebook.com/profile.php?id=61574942550458"><img src="/img/facebook.png" width="30" height="30" alt="facebook" /><i class="fi fi-brands-facebook"></i></a></li>	
              <li><a class="bluesky" href="https://bsky.app/profile/skarletcorp.bsky.social"><img src="/img/bluesky.webp" width="30" height="30" alt="bluesky" /><i class="fi fi-brands-bluesky"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>

