<!-- _includes/footer.html -->
  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Founded in 2024, our organization is driven by a diverse set of goals, including community support, and security consulting, among others. We are committed to giving back and empowering individuals to navigate the world safely. Additionally, we prioritize work-life balance, striving to achieve this through our efforts.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a class="nav-link" href="/resources"> Resources </a></li>
              <li><a href="#"></a></li>
			  <li><a class="nav-link" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">© 2024 Copyright Skarlet Corp. All Rights Reserved.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
			  <li><a class="prideflag" href="#"><img src="./img/prideflag.png" width="30" height="30" alt="pride" /><i class="fi fi-brands-prideflag"></i></a></li>
			  <li><a class="github" href="#"><img src="./img/github.png" width="30" height="30" alt="github" /><i class="fi fi-brands-github"></i></a></li>
			  <li><a class="youtube" href="#"><img src="./img/youtube.png" width="30" height="30" alt="youtube" /><i class="fi fi-brands-youtube"></i></a></li> 
              <li><a class="linkedin" href="#"><img src="./img/linkedin.png" width="30" height="30" alt="linkedin" /><i class="fi fi-brands-linkedin"></i></a></li>
			  <li><a class="discord" href="#"><img src="./img/discord.png" width="30" height="30" alt="discord - not available yet" /><i class="fi fi-brands-discord"></i></a></li>    
            </ul>
          </div>
        </div>
      </div>
</footer>

