<!-- _includes/nav.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand" href="/index" aria-label="Skarlet Corp. Home Page">
      <img src="/img/SkarletLogoLGR.webp" width="60px" height="58px" alt="Skarlet Corp. Logo">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/index"> Home </a> </li>
        
        <!-- Resources Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Resources </a>
          <ul class="dropdown-menu p-3 shadow">
            <li><a class="dropdown-item" href="/resources">&#129520; Resources - Download Free Resources</a></li>
			<li><a class="dropdown-item" href="/blog">&#128196; Blog - IT and Security blog</a></li>
            <li><a class="dropdown-item" href="/faq">&#128161; FAQ - Answering common questions</a></li>
            <li><a class="dropdown-item" href="/acronyms">&#128292; Acronyms - IT & Security Acronyms</a></li>
          </ul>
        </li>
        
        <!-- Industries Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTable" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Industries </a>
          <ul class="dropdown-menu p-3 shadow">
            <li><a class="dropdown-item" href="#">&#127970; Small & Medium Businesses</a></li>
            <li><a class="dropdown-item" href="#">&#127981; Manufacturing</a></li>
            <li><a class="dropdown-item" href="#">&#129365; Agriculture</a></li>
          </ul>
        </li>
        
        <li class="nav-item"> <a class="nav-link" href="/contact"> Contact </a> </li>
        <li class="nav-item"> <a class="nav-link" href="/about"> About </a> </li>
      </ul>
    </div>
    
    <!-- Contact Button (Remains Visible) -->
    <button type="button" style="margin: 15px" class="btn btn-primary">
      <a href="tel:+13523898590" style="margin: 15px; font-size: 24px" class="text-light text-decoration-none"> Contact Us: +1 (352) 389-8590</a>
    </button>
  </div>
</nav>
