<!-- _includes/nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
<a class="navbar-brand" href="/index" aria-label="Skarlet Corp. Home Page">
    <img src="/img/SkarletLogoLGR.webp" width="60" height="58" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav me-auto">
	  <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/index"> Home </a> </li>
	  <li class="nav-item"> <a class="nav-link" href="/resources"> Resources </a> </li>
      <!-- <li class="nav-item"> <a class="nav-link" href="/blog"> Blog </a> </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          FAQ
        </a>
        <ul class="dropdown-menu">
          <li> <a class="dropdown-item" href="/faq"> FAQ </a> </li>
          <li> <a class="dropdown-item" href="/acronyms"> Acronyms </a> </li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#"></a></li>
        </ul>
      </li>	  
	  <li class="nav-item"> <a class="nav-link" href="/contact"> Contact </a> </li>
      <li class="nav-item"> <a class="nav-link" href="/about"> About </a> </li>
	 </ul>
	  
    </div>
	<button type="button" class="btn btn-danger" style="font-size: 16px" style="margin-right: 20px" class="btn btn-success"><a class="nav-link" href="mailto:info@skarlet.org">Free Consultation!</a></button>
	</div>
</nav>