<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">



<meta name="description" content="Skarlet Corp. Managed IT and Cyber Security Services in Dixie County Florida">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color:#585858;">
{% include header.html %}
<nav>
{% include nav.html %}
</nav>
<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
	<div class="container" style="text-align: left;">
		<section>
        <ul>
            {% for post in site.posts %}
              <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p>{{ post.date | date: "%B %d, %Y" }}</p>
                <p>{{ post.excerpt }}</p>
                <a href="{{ post.url }}">Read More</a>
              </li>
            {% endfor %}
        </ul>
			</section>
		</div>
	</div>
</div>
</main>
{% include privacy.html %}
{% include footer.html %}
</body>
</html>

