<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<link rel="canonical" href="https://skarlet.org/index">

<meta name="description" content="Skarlet Corp. Managed IT and Cyber Security Services in Dixie County Florida">

</head>
{% include header.html %}

<body style="background-color:white;">

<nav>
{% include nav.html %}
</nav>
<main>
{{ content }}
</main>
{% include footer.html %}
</body>
</html>

