<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="canonical" href="https://skarlet.org"/>
<meta name="Skarlet Corp. Dixie County, Florida, IT and Cyber Security Services, MSP Services, Voip, Backup and recovery, Monitoring and Patch Management, IT Break Fix">


</head>

<body style="background-color:#585858;">
{% include header.html %}
<nav>
{% include nav.html %}
</nav>
<main>
{{ content }}
</main>
{% include privacy.html %}
{% include footer.html %}
</body>
</html>

