<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/x-icon" href="https://skarlet.org/img/favicon.ico">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
	{% seo %}

</head>
{% include header.html %}

<body style="background-color:white;">

<nav>
{% include nav.html %}
</nav>
<main>
{{ content }}
</main>
{% include exit.html %}
{% include footer.html %}
</body>
</html>

