<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body style="background-color:#585858;">
{% include header.html %}
<nav>
{% include nav.html %}
</nav>
<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
	<div class="container" style="text-align: left;">
		<section>
  <article>
    <header>
      <h1>{{ page.title }}</h1>
      <p>Posted on {{ page.date | date: "%B %d, %Y" }}</p>
    </header>
    <section>
      {{ content }}
    </section>
  </article>
			</section>
		</div>
	</div>
</div>
</main>
{% include privacy.html %}
{% include footer.html %}
</body>
</html>

